# ==========================================
# JAVA / MAVEN
# ==========================================
target/
*.class

# ==========================================
# VARIABLES / SECRETOS
# ==========================================
.env
.env.*
!.env.example
*.pem

# ==========================================
# LOGS
# ==========================================
logs/
*.log
*.log.*

# ==========================================
# IDE
# ==========================================
.idea/
.vscode/
*.code-workspace

# ==========================================
# SISTEMA
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# ETL SENSIBLE
# ==========================================
/etl/load/users.py
/etl/files/

# ==========================================
# PYTHON
# ==========================================
__pycache__/
*.pyc
.venv/
venv/
